.list-container {
    margin-top: 150px;
    width: 100vw;

    .title{
      font-size: 30px;
      padding-bottom: 20px;
      color: #7878cc;
    }
    .example-container {
        display: flex;
        flex-direction: column;
        min-width: 300px;
        width: 95vw;
    }
    .mat-table {
        overflow: auto;
        max-height: 100%;
    }
}
